
<header class="header">
 <div class="container topbar">
  <a href="/" class="logo">Cadobongda</a>
  <nav class="nav">
   <a href="/kategori/technology/">Technology</a>
   <a href="/kategori/ai/">AI</a>
   <a href="/kategori/game/">Game</a>
   <a href="/kategori/finance/">Finance</a>
  </nav>
 </div>
</header>
