
<aside>
 <div class="card">
  <div class="content">
   <h3>Trending</h3>
   <ul>
    <li>AI Search Engine</li>
    <li>Cloud Gaming</li>
    <li>Crypto Market</li>
    <li>Finance AI</li>
   </ul>
  </div>
 </div>
</aside>
